.product-image-icon {
    height: 9.188rem;
    width: 7.813rem;
    position: relative;
    border-radius: 17px;
    object-fit: cover;
  }
  .x-icon {
    height: 3rem;
    width: 3rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .x-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .embrace-sideboard1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .teixeira-design-studio1 {
    text-decoration: none;
    position: relative;
    color: inherit;
  }
  .size-icon {
    height: 3.125rem;
    width: 3.125rem;
    position: relative;
    border-radius: 25px;
    background-color: #bbd278;
  }
  .medium {
    text-decoration: none;
    position: relative;
    font-weight: 500;
    color: inherit;
    display: inline-block;
    min-width: 3.375rem;
  }
  .medium-wrapper {
    border-radius: 8px;
    background-color: #f3f3f3;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.437rem 0.625rem;
  }
  .medium-wrapper,
  .size-details,
  .size-details-inner {
    display: flex;
    align-items: flex-start;
  }
  .size-details-inner {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.437rem 0 0;
  }
  .size-details {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.25rem;
  }
  .size-info,
  .studio-details,
  .studio-name {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .size-info {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0.625rem 0 0.062rem;
    font-size: 0.875rem;
    color: #726c6c;
  }
  .studio-details,
  .studio-name {
    flex-direction: column;
  }
  .studio-name {
    align-self: stretch;
    gap: 1.25rem;
  }
  .studio-details {
    width: 10.563rem;
    padding: 0.562rem 0 0;
    box-sizing: border-box;
  }
  .frame-child {
    height: 3.375rem;
    width: 9.669rem;
    position: relative;
    border-radius: 29.5px;
    background-color: #f3f3f3;
    display: none;
  }
  .b4 {
    position: relative;
    display: inline-block;
    min-width: 0.513rem;
    z-index: 1;
  }
  .wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.062rem 0 0;
    color: #a2a2a2;
  }
  .a,
  .feature-list {
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  .a {
    text-decoration: none;
    font-size: 1.375rem;
    font-weight: 700;
    color: inherit;
    min-width: 0.875rem;
  }
  .feature-list {
    min-width: 0.75rem;
  }
  .feature-list-wrapper,
  .group-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.062rem 0 0;
  }
  .group-div {
    width: 9.669rem;
    border-radius: 29.5px;
    background-color: #f3f3f3;
    flex-direction: row;
    padding: 0.912rem 1.312rem 0.837rem 1.5rem;
    box-sizing: border-box;
    gap: 2.306rem;
    font-size: 1.125rem;
    color: #3a4980;
  }
  .designer-details {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.25rem;
  }
  .designer-details,
  .designer-info,
  .info-details,
  .product-info {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .designer-info {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0.875rem 0 0.375rem;
    box-sizing: border-box;
    font-size: 1rem;
    color: #b9bbbf;
  }
  .info-details,
  .product-info {
    flex-direction: column;
  }
  .info-details {
    align-self: stretch;
    justify-content: flex-start;
  }
  .product-info {
    flex: 1;
    justify-content: flex-end;
    padding: 0 0 0.187rem;
    box-sizing: border-box;
    min-width: 17.875rem;
  }
  .product-image-parent {
    width: 36.625rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-end;
    gap: 1.312rem;
    max-width: 100%;
    text-align: left;
    font-size: 1.75rem;
    color: #000;
    font-family: Inter;
  }
  .frame-item {
    height: 3.85rem;
    width: 25.563rem;
    position: relative;
    border-radius: 29.5px;
    background-color: #3a4980;
    display: none;
    max-width: 100%;
  }
  .button-label,
  .buy-now {
    position: relative;
    font-weight: 600;
    font-family: Inter;
    color: #fff;
    text-align: left;
    display: inline-block;
    z-index: 1;
  }
  .button-label {
    font-size: 1.5rem;
    min-width: 6.188rem;
    white-space: nowrap;
  }
  .buy-now {
    font-size: 1.25rem;
    min-width: 5.375rem;
  }
  .buy-now-wrapper,
  .group-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.156rem 0 0;
  }
  .group-button {
    cursor: pointer;
    border: 0;
    padding: 0.968rem 1.25rem 1.068rem;
    background-color: #3a4980;
    align-self: stretch;
    border-radius: 29.5px;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    gap: 0.562rem;
    flex-shrink: 0;
    max-width: 100%;
  }
  .button-icon,
  .buy-now1 {
    position: relative;
    font-weight: 600;
    display: inline-block;
  }
  .button-icon {
    min-width: 5rem;
    white-space: nowrap;
  }
  .buy-now1 {
    min-width: 5.375rem;
  }
  .buy-now-container {
    height: 1.406rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.156rem 0 0;
    box-sizing: border-box;
    font-size: 1.25rem;
  }
  .button-icon-parent,
  .secondary-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .button-icon-parent {
    height: 1.406rem;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
    gap: 1.062rem;
    flex-shrink: 0;
  }
  .secondary-button {
    align-self: stretch;
    justify-content: center;
    padding: 0 1.25rem 0 1.625rem;
  }
  .actions,
  .buttons,
  .modal {
    max-width: 100%;
    display: flex;
  }
  .buttons {
    width: 25.563rem;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1.556rem;
  }
  .actions,
  .modal {
    box-sizing: border-box;
  }
  .actions {
    width: 36.188rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 1.25rem;
    text-align: left;
    font-size: 1.5rem;
    color: #fff;
    font-family: Inter;
  }
  .modal {
    width: 38.688rem;
    background-color: #fff;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0.437rem 0.312rem 0;
    gap: 4.187rem;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 600px) {
    .modal {
      gap: 2.063rem;
    }
  }
  @media screen and (max-width: 450px) {
    .embrace-sideboard1 {
      font-size: 1.375rem;
    }
    .a {
      font-size: 1.125rem;
    }
    .designer-details {
      flex-wrap: wrap;
    }
    .button-label {
      font-size: 1.188rem;
    }
    .buy-now {
      font-size: 1rem;
    }
    .group-button {
      flex-wrap: wrap;
    }
    .button-icon {
      font-size: 1.188rem;
    }
    .buy-now1 {
      font-size: 1rem;
    }
    .modal {
      gap: 1.063rem;
    }
  }
  